/* CSS Document */
/*----------顶部----------*/
#header  {
	background-color: rgba(0,0,0,0.8);
    position:fixed;
	padding:10;
	z-index:9999;
	float:right;
	font-size:15;
}
/*---------整体----------*/
#section  {
	margin:0 auto;
	box-shadow:2px 4px 6px #eee;
}
/*---------首页选项----------*/
#section1  {
	background-color: #000;
}
/*---------详情页----------*/
#section2  {
	background-color: rgba(0,0,0,0.2);
}
#section3  {
	height:100%;
}
/*---------其他----------*/
body {  
    background-color:#000; 
	color:#fff;
    font-size:20;
} 
h1.header span  {
	float:left;
}

/*---------链接----------*/
<!--
a:link {
	color: #666;
	text-decoration: none;
}
a:visited {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: ;
}
a:active {
	color: #fff;
	text-decoration: blink;
}
-->
